@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sbab: 'font-sbab';
}
@font-face {
	font-family: 'font-sbab';
	src: url('/public/fonts/SBAB-Display.woff') format('woff'),
		url('/public/fonts/SBAB-Bold.ttf') format('woff'),
		url('/public/fonts/SBAB-Regular.woff') format('woff');
}

body {
	font-family: var(--font-sbab);
}
